body{
    background-image: url(https://th.bing.com/th/id/OIP.q5_uUG7MmIyFle8z_VKhnQHaEK?w=324&h=182&c=7&r=0&o=5&dpr=1.3&pid=1.7);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}
h1{
    font-family: 'Great Vibes', cursive;
    color:azure;
}
h2{
    font-family: 'Lobster two',cursive;
    letter-spacing: 1px;
    text-transform: uppercase;
    text-align: center;
    border: 2px solid saddlebrown;
    background: rgb(248, 0, 149);
    color:blanchedalmond;
    box-shadow: 1px 1px 2px antiquewhite;
    border-radius:10px;
    padding: 3px 10px;
    cursor: pointer;
}